.bar{
    position: absolute;
    width: 75px;
    height: 1080px;
    left: 0px;
    top: 0px;

    background: #5BE7C4;
}
.setTitle{
    position: absolute;
    width: 715px;
    height: 100px;
    left: 160px;
    top: 45px;

    background: #FFFFFF;
    border: 4px solid #5BE7C4;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 60px;
}

.setTag{
    position: absolute;
    width: 240px;
    height: 61px;
    left: 1491.8px;
    top: 46.68px;

    background: #FFFFFF;
    border: 4px solid #5BE7C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 40px;
    
}
.Tag:hover{
    background: #ffffff;
    color: #5BE7C4;
}

.Tag{
    position: absolute;
    width: 144px;
    height: 58px;
    left: 1754px;
    top: 46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    
    color: #F5F7FA;

    background: #5BE7C4;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.confirm:hover{
    background: #ffffff;
    color: #5BE7C4;
}
.confirm{
    position: absolute;
    width: 104px;
    height: 61px;
    left: 1785px;
    top: 960px;
    
    background: #5BE7C4;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.components{
    position: absolute;
    width: 110px;
    height: 780px;
    left: 1780px;
    top: 150px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 5px solid #50C1E9;
    box-sizing: border-box;
    border-radius: 20px;
}

.Paper{
    position: absolute;
    width: 1550px;
    height: 820px;
    left: 160px;
    top: 200px;
    scroll-behavior: auto;
    background: #FFFFFF;
    border: 4px solid #5BE7C4;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 60px;
}
